@tailwind base;
@tailwind components;
@tailwind utilities;


html {

    body {
      background-color: #ffffff; /* Light background */
      color: #020617; /* Light text color */
    
    }
    .dark body {
      background-color: #020617; /* Dark background */
      color: #ffffff; /* Dark text color */
    }

}